@media screen and (max-width: 767px) {
  .whatsapp-float-icon {
    margin-top: 10px;
  }
  .whatsapp_float {
    width: 60;
    height: 60;
    bottom: 50px;
    right: 23px;
    font-size: 42px;
  }
}
